.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
}

.login-form {
  width: 350px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 25px 20px;

  .form-login {
    &__title {
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
    }

    &__bottom {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 14px;
    }
  }
}