<div class="container">
  <form [formGroup]="formGroup" (submit)="submitLogin()" class="login-form">
    <p class="form-login__title">Login</p>
    <mat-form-field>
      <mat-label>Login</mat-label>
      <input matInput formControlName="login" type="email" />
      <mat-error>Please enter a email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" />
      <mat-error>Please enter a password</mat-error>
    </mat-form-field>
    <div class="form-login__bottom">
      <a mat-button class="form-login__link-reg" disabled="true">
        Registration
      </a>
      <button mat-raised-button color="primary" [disabled]="formGroup.invalid">
        Login
      </button>
    </div>
  </form>
</div>
