<header class="header">
  <div class="left-container"><h1>Youtube Client App</h1></div>
  <div class="center-container">
    <a href="" class="logo">
      <img src="/assets/icons/logo.svg" alt="Logo icon" width="50px" />
    </a>
    <div class="search">
      <input
        matInput
        class="search-input"
        type="text"
        placeholder="What are you want to find out?"
        #searchInput
      />
      <button
        class="search-btn"
        mat-raised-button
        color="primary"
        (click)="onSearchVideo(searchInput.value)"
      >
        search
      </button>
    </div>
    <button class="settings" type="button" (click)="toggleFilters()">
      <img
        src="./assets/icons/search_settings.svg"
        alt="Settings icon"
        width="24px"
        height="24px"
      />
    </button>
  </div>
  <div class="right-container">
    {{ userName }}
    <img
      src="./assets/icons/login.svg"
      alt="Avatar icon"
      class="user-avatar"
      width="24px"
      height="24px"
    />
  </div>
</header>

<app-filters *ngIf="isDisplayFilters"></app-filters>
