<div class="filters">
  <div>
    Sorting by:
    <mat-button-toggle-group name="sorting">
      <mat-button-toggle
        value="date"
        #toggleSortDate
        (click)="changeSort(toggleSortDate.value)"
      >
        date
      </mat-button-toggle>
      <mat-button-toggle
        value="count"
        #toggleSortCount
        (click)="changeSort(toggleSortCount.value)"
      >
        count of view
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div>
    by word or sentence:
    <input type="text" #filterInput (keyup)="getFilterKey(filterInput.value)" />
  </div>
</div>
