<div class="container" *ngIf="card">
  <button mat-raised-button class="back" color="primary" (click)="back()">
    <mat-icon fontIcon="arrow_back_ios_new"></mat-icon>
  </button>
  <mat-card class="video">
    <div class="video__container">
      <div class="video__img">
        <img [src]="card.linkImage" [alt]="'Screensaver video ' + card.title" />
      </div>
      <div class="video__info">
        <div class="video__info-top">
          <mat-card-title class="video__info-top-title">
            {{ card.title }}
          </mat-card-title>
          <div class="video__info-top-date">
            {{ card.date | date : "fullDate" }}
          </div>
        </div>
        <mat-card-subtitle class="video__info-subtitle">
          Description:
        </mat-card-subtitle>
        <mat-card-content class="video__info-desc">
          {{ card.description }}
        </mat-card-content>
      </div>
    </div>
    <mat-card-footer
      appCardBottomColor
      [publishedDate]="card.date"
      class="video__info-footer"
    ></mat-card-footer>
  </mat-card>
</div>
