<div class="container">
  <form [formGroup]="adminForm" class="admin-form" (submit)="onSubmit()">
    <p class="admin-form__title">Creating new card</p>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      <mat-error *ngIf="adminForm.controls.title.hasError('required')">
        Please enter a title
      </mat-error>
      <mat-error *ngIf="adminForm.controls.title.hasError('minlength')">
        The title is too short
      </mat-error>
      <mat-error *ngIf="adminForm.controls.title.hasError('maxlength')">
        The title is too long
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" />
      <mat-error *ngIf="adminForm.controls.description.hasError('maxlength')">
        The description is too long
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Link image</mat-label>
      <input matInput formControlName="linkImage" />
      <mat-error *ngIf="adminForm.controls.linkImage.hasError('required')">
        Please enter a link to the image
      </mat-error>
      <mat-error *ngIf="adminForm.controls.linkImage.hasError('pattern')">
        The image link is invalid
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Link video</mat-label>
      <input matInput formControlName="linkVideo" />
      <mat-error *ngIf="adminForm.controls.linkVideo.hasError('required')">
        Please enter a link to the video
      </mat-error>
      <mat-error *ngIf="adminForm.controls.linkVideo.hasError('pattern')">
        The video link is invalid
      </mat-error>
    </mat-form-field>
    <div class="admin-form__bottom">
      <button
        mat-raised-button
        class="admin-form__btn"
        color="primary"
        [disabled]="adminForm.invalid"
      >
        Create card
      </button>
    </div>
  </form>
</div>
