<mat-card *ngIf="cardItem">
  <img
    mat-card-image
    [src]="cardItem.snippet.thumbnails.medium.url"
    [alt]="'Screensaver video ' + cardItem.snippet.title"
  />
  <div class="statistics">
    <div>
      <mat-icon fontIcon="visibility"></mat-icon>
      {{ cardItem.statistics.viewCount }}
    </div>
    <div>
      <mat-icon fontIcon="thumb_up"></mat-icon>
      {{ cardItem.statistics.likeCount }}
    </div>
    <div>
      <mat-icon fontIcon="thumb_down"></mat-icon>
      {{ cardItem.statistics.dislikeCount }}
    </div>
    <div>
      <mat-icon fontIcon="forum"></mat-icon>
      {{ cardItem.statistics.commentCount }}
    </div>
  </div>
  <mat-card-title>
    {{ cardItem.snippet.title }}
  </mat-card-title>
  <a
    mat-flat-button
    color="primary"
    [routerLink]="['/main/video', cardItem.id]"
    routerLinkActive="router-link-active"
  >
    More...
  </a>
  <mat-card-footer
    appCardBottomColor
    [publishedDate]="cardItem.snippet.publishedAt"
  ></mat-card-footer>
</mat-card>
